<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/users/{id}(id=${user.getId()})}"
      th:object="${user}">
    <label for="name">Введите имя: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:green" th:if="${#fields.hasErrors('name')}"
         th:errors="*{age}">Name error</div>
    <br/>
    <label for="age">Введите возраст: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <div style="color:red" th:field="${#fields.hasErrors('age')}"
         th:errors="*{age}">Age error</div>
    <br/>
    <label for="email">Введите e-mail: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <div style="color:blue" th:field="${#fields.hasErrors('email')}"
         th:errors="*{email}">E-mail error</div>
    <br/>
    <input type="submit" value="Update!"/>

</form>

</body>
</html>